body {
  background-image: url("./assets/Marvel\ superheroes\ wallpaper\ hd\ \ \ SF\ Wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

main {
  height: auto;
  width: 60vw;
  margin: 9rem auto;
  border: rgb(243, 8, 8) solid 2px;
  border-radius: 5px;
  background-color: azure;
  position: relative;
}

#auto-complete {
  max-height: 300px;
  overflow-y: auto;
}

#auto-complete li {
  color: black;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

#searchList {
  color: rgb(97, 248, 3);
  z-index: 1;
  position: relative;
  top: 0;
  margin-top: -1.5%;
}

#searchList li {
  width: auto;
  cursor: pointer;
}
#searchContainer {
  max-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  height: auto;
  width: 70vw;
  display: flex;
  padding: 10px;
}

.img img {
  height: 400px;
  width: auto;
  border: 1px rgb(74, 212, 50) solid;
  
}

.details {
  height: 400px;
  width: auto;
  /* border: 1px rgb(85, 56, 56) solid; */
  color: aliceblue;
  font-weight: bold;
  overflow-y: auto;
  padding-left: 15px;
}

#powerstats{
  color: gold;
}

#bio{
  color: blue;
}

#favbtn {
  display:none;
  
}

#logo{
  color: aliceblue;
}
